<div class="table table-borderless table-dark">
        <br>
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
    
                    <div class="col-md-3"  >
                        <h6 class="" style="color: chocolate">ABOUT BUS</h6>
                        <ul className="first">
                            <li><a>Contact Us</a></li>
                            <li><a>About Us</a></li>
                            <li><a>Track Bus</a></li>
                            <li><a>Cancel Bus</a></li>
                            <li><a>Routes Map</a></li>
                        </ul>
                    </div>
    
    
                    <div class="col-md-3">
                        <h6 class=""style="color: chocolate">INFO</h6>
                        <ul class="second">
                            <li><a>Terms & conditions</a></li>
                            <li><a>Privacy Policy</a></li>
                            <li><a>FAQ</a></li>
                            <li><a>Blog</a></li>
                            <li><a>Agent Registration</a></li>
                            <li><a>Insurance Partners</a></li>
                        </ul>
                    </div>
    
    
                    <div class="col-md-3">
                        <h6 class=""style="color: chocolate">East Africa Routes</h6>
                        <ul class="third">
                            <li><a>Kenya</a></li>
                            <li><a>Tanzania</a></li>
                            <li><a>Uganda</a></li>
                            <li><a>Sudan</a></li>
                        </ul>
                    </div>
    
                    <div class="col-md-3">
                        <h6 class="headin5_amrc col_white_amrc pt2" style="color: chocolate">Bus Logo</h6>
                        <p>This Bus is the East Africa largest online bus ticket booking service trusted by over 10 million happy customers.
                           This is the Best Booking Website.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>