<div class="col-md-4 offset-4 mt-6 card" style="background:darkgrey">
    <div class="card-body">
        <form #giveFeedbackForm="ngForm" (ngSubmit)="giveFeedbackFormMethod(giveFeedbackForm.value)">
            <h1 class="h1 text-center">Give Feedbacks</h1>

            <div class="form-group">
                <label for="feedback" class="text-success">feedbacks<h6 class="text-danger float-right">*</h6>
                </label>
                <input type="text" #feedback="ngModel" ngModel name="feedback" id="feedback" class="form-control"
                    required placeholder="Enter feedback">
                <div *ngIf="feedback.touched && feedback.invalid">
                    <p class="alert alert-danger"> *This field is required</p>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-info btn-block form-control"
                [disabled]="giveFeedbackForm.invalid">submit
            </button>
        </form>
    </div>
</div>